# If running Privy locally, uncomment and set to host that privy is running on.
# Otherwise privy-react points to https://auth.privy.io by default.
# NEXT_PUBLIC_PRIVY_AUTH_URL=http://localhost:3000

# Privy App ID - you can find this once you create your app in the Privy Console.
NEXT_PUBLIC_PRIVY_APP_ID=<privy app id>

# This app uses Datadog RUM for tracking. However, it is not necessary for local
# development and should be omitted.
# NEXT_PUBLIC_DATADOG_APP_ID=<probably not needed>
# NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=<probably not needed>
# PRIVY_APP_SECRET=<needed for deletions>
